.designSection h3  {
    font-size: 20px;
    color:#173460;
    font-weight: bold;

}
.designSection p {
    font-size:16px;
    color:#5f97ec;

}
.content{
  height: 200px;
    border:1px solid #101552;
}
mark{
    font-size: 25px;
    background: rgb(209, 212, 206);
}

.orderSection .btn-info{
    border-radius: 15px;
    font-size: 20px;
    color:#173460;
    height: 50px;
    text-align: center;
    width:250px;
    line-height: 30px;
    background:#98bcf1;
}
.orderSection .btn-info:hover{
  text-decoration: none;
  color:#aa6f9b;
  outline: none;
  border: none;
}
.OurPortofolioSection .circle {
    height: 100px;
    width: 100px;
    top: 20px;
    position: relative;
    padding: 30px;
    margin-top: 200px;
    border-radius: 50%;
    background: #e9d204;
    border: none;
}
.OurPortofolioSection .circle:hover{
    background: #e7cd78;

}
@media (max-width: 992px) { 


.OurPortofolioSection .circle {
    height: 100px;
    width: 100px;
    top: 20px;
    position: relative;
    padding: 10px;
    background: #e9d204;
    border: none;
}
.OurPortofolioSection .circle  img {
height: 20px;
width: 20px;
}
}


