@media (max-width: 992px) { 
  .navbar-dark .navbar-toggler {
    border-color: #fff;
    color: #ffffff;
    border-radius: 5px;

  }
  
.navbar-toggler {
  font-size: 16px;
  background-color: rgb(24, 4, 97);

 
}
.section  h2{
  font-size:22px;
  color:#c91c72;
  font-weight: bold;
}
.slider .carousel-item img{
  height: 16rem;
}
.slider .btn-info{
  font-size: 14px;
 width: 150px;
 border-radius:20px;
 background:#173460;
 padding:10px 15px;

}
 .valueSection h1{
      font-size: 30px;
  
  }
  .valueSection .circle {
    height: 80px;
    width:80px;
    padding:25px 20px;
}
.ServicesSection h3 {
  font-size: 18px;
 
}
.ServicesSection p {
    font-size: 14px;
}
.productSection h3 {
    font-size: 18px;
    color: #173460;
    font-weight: bold;
}
.productSection .btn-secondary {
    color: #fff;
    background-color: #173460;
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 30px;
    outline: none;
    border: none;
}

.TestamonialSection h3 {
    font-size: 18px;
    color: #173460;
    font-weight: bold;
}
.OrderPriceSection .btn-info{
    font-size: 16px;
    color:#173460;
    height: 40px;
    text-align: center;
    width:200px;
    line-height: 25px;
    border-radius: 50px;
    background:#98bcf1;
    font-weight: bold;
}
.QuestionsSection .btn-info{
  font-size: 16px;
  color:#173460;
  text-align: center;
  width:180px;
}

.OurPortofolio .circle {
  height: 70px;
  width: 70px;
  padding: 10px;
 }
 .OurPortofolio .circle img{
  height: 20px;
  width: 20px;
 }
 .SuccessSection .carousel-item img {
  height: 12rem;
}
.ArticlesSection .row1{
  margin-top:20px;

}
.ArticlesSection .square{
margin-right: 75px;
height: 150px;
width: 200px;
text-align: center;
}
.contactNumber .rectangle{
  font-size: 14px;
  padding: 2px 5px;
  border:1px solid #173460;
  color: #fd16a4;
}

.contactNumber h3{
  font-size:14px;
  color:#173460;
  font-weight: bold;
}
.pictureSystem .row .row1{
  margin-top: 20px;
}
.priceSection .row1{
  margin-top: 20px;

}
.footerSection h2 {
  font-size: 16px;
  color: #fff;
}
.footerSection ul li a {
  font-size: 13px;
}

.footerSection .rectangle{
  font-size: 20px;
  padding:5px 10px;
  border:1px solid #fff;
  color: #fff;
  margin-left: 10px;
}
.footerSection .rectangle:hover{
  color:#98bcf1;
}


.contentSystem .row1{
  margin-top: 15px;


}
.contentSystem .content{
  height: 150px;
  width:200px;
    border:1px solid #101552;
    margin-right: 75px;

}
.orderSection mark {

  font-size: 18px;
  background: rgb(209, 212, 206);
}
.orderSection .btn-info {
  font-size: 20px;
  color: #173460;
  height: 50px;
  text-align: center;
  width: 200px;
  line-height: 36px;
  background: #98bcf1;
  font-weight: bold;
}
.priceSection .card .card-body h5{
  font-size: 16px;
  ;
}
.priceSection .card .card-body p{
  font-size: 14px;
}
.priceSection .btn-primary{
  background: crimson;
  border: none;
  border-radius: 10px;
  height: 30px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
}
.OurPortofolio .row1{
  margin-top: 15px;
}

.designSection p {
  font-size: 14px;
  color: #5f97ec;
}
.OurPortofolioSection .circle {
  height: 100px;
  width: 100px;
  top: 20px;
  position: relative;
  padding: 10px;
  margin-top: 200px;
  border-radius: 50%;
  background: #e9d204;
  border: none;
}
.designSectionServicess p {
  font-size: 14px;
}
.itemdesignSection .row p {
  font-size:13px;

}

}