@media (max-width: 992px) { 
.navbar-toggler {
      background-color:#7fabec;
  
    
}
.section  h2{
  font-size:25px;
  color:#c91c72;
  font-weight: bold;
}
.slider .carousel-item img{
  height: 16rem;
}
.slider .btn-info{
  font-size: 14px;
 width: 150px;
 border-radius:20px;
 background:#173460;
 padding:10px 15px;

}
 .valueSection h1{
      font-size: 30px;
  
  }
  .valueSection .circle {
    height: 80px;
    width:80px;
    padding:25px 20px;
}
.ServicesSection h3 {
  font-size: 18px;
 
}
.ServicesSection p {
    font-size: 14px;
}
.productSection h3 {
    font-size: 18px;
    color: #173460;
    font-weight: bold;
}
.productSection .btn-secondary {
    color: #fff;
    background-color: #173460;
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 30px;
    outline: none;
    border: none;
}

.TestamonialSection h3 {
    font-size: 18px;
    color: #173460;
    font-weight: bold;
}